* {
    box-sizing: border-box;
}

body {
    background: #555;
}

/* Teclado Musical */
.teclado {
    display: flex;
}

/* Notas */
.oitava {
    display: flex;
    position: relative;
}

/* Teclas */
.branca {
    width: 50px;
    height: 300px;
    background: white;
    border: 1px solid black;
}

.preta {
    width: 30px;
    height: 175px;
    background: black;
    position: absolute;
}

/* Teclas Susteninas (Pretas) */
[cs] {
    left: 35px;
}

[ds] {
    left: 85px;
}

[fs] {
    left: 185px;
}

[gs] {
    left: 235px;
}

[as] {
    left: 285px;
}

.selecionada {
    background: #070;
}